Source: libsonic-nas-common
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev,libsonic-common-dev,libsonic-model-dev,libsonic-object-library-dev,libsonic-logging-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/Azure/sonic-nas-common
Vcs-Git: https://github.com/Azure/sonic-nas-common.git

Package: libsonic-nas-common1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains common utilities for the network abstraction component.

Package: libsonic-nas-common-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libsonic-common-dev,libsonic-object-library-dev,libsonic-logging-dev,libsonic-model-dev,libsonic-nas-common1 (=${binary:Version})
Description: This package contains common utilities for the network abstraction component.

Package: sonic-nas-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-sonic-object-library, sonic-nas-daemon
Description: This package contains common utilities for the network abstraction component.
